.containerProductSearch {
  display: flex;
  flex-direction: row;

  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.55rem;
  background-color: var(--white);

  .boxImageSarch img {
    min-width: 3rem !important;
    max-width: 3rem !important;
    max-height: 3rem !important;
    min-height: 3rem !important;
  }

  &:hover {
    box-shadow: rgba(40, 41, 61, 0.04) 0px 4px 8px,
      rgba(96, 97, 112, 0.16) 0px 8px 16px;
  }
  gap: 0.5rem;

  .infoProductSearch {
    h1 {
      margin: 0;
      font-size: 0.875rem;
      color: var(--filter-text);
      line-height: 1.3;
      font-weight: 600;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      transition: color 200ms ease-in-out;
    }
    h2 {
      margin: 0;
      line-height: 1.3;
      font-weight: 600;
      font-size: 0.775rem;
      color: var(--filter-text);
      opacity: 0.8;
    }
  }
}

.activeLetter {
  color: var(--orange-strong) !important;
}
