.containerPrevious {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .previousCart {
    margin: 2rem;
    padding: 0 1rem;
    max-width: 79.375rem;
    gap: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "previousProduct contentButtons";

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas: "previousProduct" "contentButtons";
    }
  }

  .previousProduct {
    grid-area: previousProduct;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .contentButtons {
    grid-area: contentButtons;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
}
