.header {
  display: flex;
  flex-direction: column;

  .contentHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--blue);
    padding: 0.5rem 1rem;
    gap: 1rem;

    & h1 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5;
      color: var(--white);
      width: 3rem;
    }
  }

  .itemsMenu {
    background-color: var(--orange-text);
    padding: 0 1rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .drawerItems {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }
}
