.containerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentCart {
    margin: 2rem;
    padding: 0 1rem;
    max-width: 79.375rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "products contentCheckout";
    gap: 1.8rem;

    @media (max-width: 768px) {
      grid-template-areas: "products products" "contentCheckout contentCheckout";
    }

    .products {
      grid-area: products;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      width: 100%;
    }
  }

  .contentCheckout {
    grid-area: contentCheckout;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.badCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1,
  & a {
    margin: 1rem 0 0;
    padding: 0 1rem;
  }
}
