.containerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentCart {
    margin: 2rem;
    padding: 0 1rem;
    max-width: 79.375rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.8rem;

    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
    }
  }

  .badCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      margin: 1rem 0 0;
    }
  }
}
