.containerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentCart {
    margin: 2rem;
    padding: 0 1rem;
    max-width: 79.375rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .products {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
    }
  }
}
